.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* Adjusts the carousel height relative to the viewport */
  min-width: 80vh; /* Adjusts the carousel height relative to the viewport */
  margin-left: 27rem;
}

.carousel {
  width: 75rem; /* Adjust the width of the carousel */
  height:40rem;
  max-width: 1000px; /* Optional: set a max width to prevent it from getting too wide */
  background-color: rgba(144, 204, 136, 0.3); /* Light green background inside the carousel */
  border: 3px double #040704; /* Simple border with same earthy green as the navbar */
  border-radius: 10px; /* Rounded corners for a smooth look */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for depth */
  
}

.carousel-caption {
  display: flex;
  text-align: center;
  height: 30rem; /* Ensure the text is vertically centered */
  margin-bottom: 5rem; 
  background-color: white;
  border: double, black;
  border-radius: 10px;
  color:black; 
}

.button  {
  color: black;
}